  form.edit-item {
    select,
    input[type=text] {
      border-radius: 3px;
      border: 1px solid #4e4b4d;
      box-sizing: border-box;
      display: block;
      height: 22px;
      line-height: 18px;
      margin-bottom: 10px;
      padding: 5px;
      width: 250px;
    }

    select {
      padding: 0;
    }

    .title {
      width: 500px;
    }

    .description {
      border: 1px solid #4e4b4d;
      box-sizing: border-box;
      height: 250px;
      padding: 5px;
      width: 500px;
    }

    .description {
      border-radius: 3px;
    }

    #price,
    #currencies {
      display: inline-block;
      width: 146px;
    }

    #currencies {
      width: 100px;
    }
  }
