/* temporary styles */
/* admin panel styles */
a {
  color: black;
  text-decoration: none;
}

ul.items-list {
  li {
    border: 0;
    border-bottom: 1px solid #F5F5F5;

    &.disabled {
      /* background: gray; */
      color: #818181;
    }
    
    &.enabled {
      color: black;
    }
  }
}
