/* temporary styles */
/* admin panel styles */
a {
  color: black;
  text-decoration: none;
}

li {
  border: 0;
  border-bottom: 1px solid #F5F5F5;
}

.disabled {
  /* background: gray; */
  color: grey;
}

.enabled {
  color: black;
}
