/* temporary styles */
/* admin panel styles */

.admin-panel {
  background: #FFF;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;

  header {
    background: #262626;
    grid-area: header;
    height: 50px;

    nav {
      align-items: center;
      display: flex;
      font-family: 'Roboto', sans-serif;
      height: 100%;
      justify-content: space-around;

      > a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  aside {
    background: #262626;
    color: #FFF;
    grid-area: aside;
  }

  main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    padding: 50px 50px 50px 0;

    a {
      color: black;
      text-decoration: none;
    }

    ul.items-list-header {
      background: #F3F3F3;
      border: 1px solid #DDD;
      display: flex;
      height: 22px;
      line-height: 23px;

      li {
        padding-left: 5px;

        &:not(:last-child) {
          border-right: 1px solid #DDD;
        }

        &.check-all {
          padding: 0;
          width: 35px;
          text-align: center;
        }
      
        &.item-id {
          width: 45px;
        }
      
        &.item-name {
          width: 800px;
        }

        &.item-subcategory,
        &.item-posted-date,
        &.item-actions {
          width: 150px;
        }
      }
    }

    ul.items-list {
      font-size: 13px;
      width: 1268px;

      li {
        border: 0;
        display: flex;
        height: 50px;
        justify-content: space-between;
        line-height: 50px;
        padding-left: 10px;

        &:not(:last-child) {
          border-bottom: 2px solid rgb(246, 246, 246);
        }

        &:hover {
          background: #F3F2F3;
        }
    
        &.disabled {
          color: #818181;
        }
        
        &.enabled {
          color: black;
        }

        a.item-title {
          width: 800px;
        }

        a.subcategory {
          color: E26433;
          width: 125px;
        }

        > .action-icons {
          align-items: center;
          display: flex;
          justify-content: space-between;
          width: 150px;

          > a {
            background: url('../img/spritesheet.png');
            cursor: pointer;
            display: inline-block;
            height: 20px;
            width: 20px;

            &.url-icon {
              background-position-y: 240px;
            }

            &.edit-icon {
              background-position-y: 470px;
            }

            &.renew-icon {
              background-position-y: 70px;
            }

            &.spam-icon {
              background-position-y: 175px;
            }

            &.remove-icon {
              background-position-y: 220px;
            }
          }
        }
      }
    }
  }
}
