@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #F1F1F1;
}

ul {
  list-style-type: none;
}
