@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* temporary styles */
/* admin panel styles */
.admin-panel {
  background: #FFF;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "header header" "aside main" "footer footer";
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
}
.admin-panel header {
  grid-area: header;
  background: red;
  height: 50px;
}
.admin-panel header nav {
  align-items: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  height: 100%;
  justify-content: space-around;
}
.admin-panel header nav > a {
  color: #FFF;
  text-decoration: none;
}
.admin-panel main {
  grid-area: main;
  padding: 50px 50px 50px 0;
}
.admin-panel main a {
  color: black;
  text-decoration: none;
}
.admin-panel main ul.items-list li {
  border: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.admin-panel main ul.items-list li:hover {
  background: #F3F2F3;
}
.admin-panel main ul.items-list li.disabled {
  color: #818181;
}
.admin-panel main ul.items-list li.enabled {
  color: black;
}
.admin-panel main ul.items-list li > .action-icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.admin-panel main ul.items-list li > .action-icons > a {
  background: url("../img/spritesheet.png");
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.admin-panel main ul.items-list li > .action-icons > a.url-icon {
  background-position-y: 240px;
}
.admin-panel main ul.items-list li > .action-icons > a.edit-icon {
  background-position-y: 470px;
}
.admin-panel main ul.items-list li > .action-icons > a.renew-icon {
  background-position-y: 70px;
}
.admin-panel main ul.items-list li > .action-icons > a.spam-icon {
  background-position-y: 175px;
}
.admin-panel main ul.items-list li > .action-icons > a.remove-icon {
  background-position-y: 220px;
}
.admin-panel aside {
  grid-area: aside;
  background: red;
}
.admin-panel footer {
  align-items: center;
  background: #262626;
  color: #FFF;
  display: flex;
  font-family: "Roboto", sans-serif;
  grid-area: footer;
  height: 130px;
  justify-content: space-around;
  padding-top: 0;
  width: 100%;
}
.admin-panel footer > .admin-footer-list a {
  color: #FFF;
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #F1F1F1;
}

ul {
  list-style-type: none;
}

.install {
  background: #fff;
  box-shadow: 0px 0 20px 0px #cacaca;
  height: 415px;
  font-size: smaller;
  margin: 0 auto;
  margin-top: 117px;
  max-width: 700px;
  padding: 20px;
  padding-top: 30px;
}
.install span.somespan {
  color: black;
}
.install form {
  margin-top: 27px;
}
.install form .form-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.install form .form-group label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 5px;
  width: 20%;
}
.install form .form-group input.form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  height: 14px;
  line-height: 1.42857143;
  padding: 6px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 35%;
}
.install form .form-group input.form-control:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
.install form .form-group span.required {
  color: red;
  float: right;
  width: 10%;
}
.install form .form-group span.hint {
  width: 30%;
}
.install form .button {
  background-color: #fff;
  border-color: #122b40;
  border: 1px solid #e6d6d6;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin: 0 auto;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
}

/*# sourceMappingURL=styles.css.map */
